@use "../vars/variables" as *;

.hero {
  padding: 24px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 48px;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__content {
    display: contents;

    @media screen and (min-width: 768px) {
      display: block;
      flex: 1;
    }
  }

  h1 {
    color: $neutral0;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }
  }

  p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    line-height: 1.6;
    margin: 16px 0;

    @media screen and (min-width: 768px) {
      font-size: 15px;
      max-width: 400px;
    }
  }

  &__video {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    border: 5px solid rgb(253, 253, 253);
    margin: 16px 0;

    @media screen and (min-width: 768px) {
      flex: 1;
      max-width: 500px;
      margin: 0;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  &__btn {
    display: inline-block;
    background: $primary100;
    color: $primary950;
    padding: 12px 20px;
    border-radius: 999px;
    font-weight: 600;
    text-decoration: none;

    @media screen and (min-width: 768px) {
      padding: 14px 24px;
      font-size: 15px;
    }
  }
}
